{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<section class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1>{% trans %}Please sign in{% endtrans %}</h1>

            <div class="mb-3">
                <label for="username" class="form-label">{% trans %}Email{% endtrans %}</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">{% trans %}Password{% endtrans %}</label>
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-success" type="submit">{% trans %}Sign in{% endtrans %}</button>
        </form>
{% endblock %}
