{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
<section class="row">
    {% for product in products %}
    <article class="col-2 p-2">
        <a href="{{ path('app_front_product', {slug: product.slug }) }}">
            {% if( 'http://' in product.images.0.file or 'https://' in product.images.0.file) %}
            <img src="{{ product.images.0.file }}" class="img-fluid">
            {% else %}
            <img src=" {{ asset('uploads/photos/'~product.images.0.file) }}" class="img-fluid">
            {% endif %}
        </a>
        <h2>{{ product.name }}</h2>
        <h3>{{ product.price | format_currency('EUR') }}</h3>
        <a href="{{ path('app_front_product', {slug: product.slug }) }}" class="btn btn-success""><i class="icon-view-show"></i> Détails</a>
    </article>
    {% endfor %}
</section>
{% endblock %}
